.nav {
  display: flex;
  background-color: rgb(20, 86, 141);
  padding: 10px;
  justify-content: space-between;
}
.nav-left a,
.nav-right a {
  text-decoration: none;
  color: black;
  font-family: serif;
}

.nav-left {
  display: flex;
  gap: 30px;
  font-size: larger;
}
.nav-right {
  display: flex;
  font-size: larger;
  gap: 30px;
}
