.nav-section {
  display: flex;
  flex-direction: column;
  background-color: #001219;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  z-index: 100;
  padding: 3rem 2rem;
}
.nav-section-logo-and-collapse-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10rem;
}
.nav-section-logo {
  width: 10rem;
}
.nav-section-collapse-button {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(833%)
    hue-rotate(93deg) brightness(116%) contrast(100%);
}
.nav-section-collapse-button:hover {
  transform: scale(110%);
}
.nav-section-links-and-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-section-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
}
.nav-section-footer {
  color: #f0ede4;
  font-size: 1.6rem;
  text-align: center;
}
