.nav-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 86, 141);
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  z-index: 100;
  padding: 3rem 2rem;
  justify-content: space-between;
}
.nav-section-logo-and-collapse-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section-logo {
  width: 10rem;
}
.nav-section-collapse-button {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(833%)
    hue-rotate(93deg) brightness(116%) contrast(100%);
}
.nav-section-collapse-button:hover {
  transform: scale(110%);
}

.nav-section-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: black;
  font-family: serif;
}

.nav-left {
  display: flex;
  gap: 30px;
  font-size: larger;
}
.nav-right {
  display: flex;
  font-size: larger;
  gap: 30px;
}
