.navigation-profile {
  position: relative;
}
.navigation-profile-icon {
  width: 3rem;
  transition: all 150ms;
  filter: brightness(0) saturate(100%) invert(61%) sepia(24%) saturate(4439%)
    hue-rotate(339deg) brightness(102%) contrast(101%);
}
.navigation-profile-icon:hover {
  filter: brightness(0) saturate(100%) invert(6%) sepia(19%) saturate(4856%)
    hue-rotate(164deg) brightness(92%) contrast(103%);
}
.navigation-profile-icon-loggedin {
  filter: brightness(0) saturate(100%) invert(6%) sepia(19%) saturate(4856%)
    hue-rotate(164deg) brightness(92%) contrast(103%);
}
.navigation-profile-icon-loggedin:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(24%) saturate(4439%)
    hue-rotate(339deg) brightness(102%) contrast(101%);
}

.navigation-profile-container {
  position: absolute;
  right: 0;
  width: 20rem;
  top: 5rem;
  background-color: #001219;
  color: #f0ede4;
  border-radius: 11px;
  z-index: 99;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
